name: bbayoo_app
description: "A Flutter voting giveaway application."

publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  
  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.10.3
  provider: ^6.1.5+1
  go_router: ^17.0.0
  google_fonts: ^6.3.2
  shared_preferences: ^2.5.3
  flutter_dotenv: ^6.0.0
  intl: ^0.20.2
  url_launcher: ^6.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  
  assets:
    - .env
    - assets/images/